/* styles.css */
:root {
	--size: 90;
	--unit: calc((var(--size) / 700) * 1vmin);
	--width: calc(700 * var(--unit));
	--height: calc(700 * var(--unit));
	--background-color: #ce8682;
	--cream-color: #efebe7;
	--chocolate-color: #4c3529;
	--candle-color: #9f897b;
	--flame-color-1: #de9159;
	--flame-color-2: #bb5f00;
	--flame-color-3: #960000;
	--flame-color-secondary: #fb9263;
}

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background: var(--background-color);
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	position: relative;
	height: calc(var(--height));
	width: calc(var(--width));
	background: var(--background-color);
	overflow: hidden;
}

.container *,
.container *:after,
.container *:before {
	position: absolute;
	transform: translate(-50%, 0);
}

.container .flame {
	--size: 60;
	height: calc(var(--size) * var(--unit));
	width: calc(var(--size) / 2 * var(--unit));
	border-radius: 100%;
	left: 50%;
	top: 19%;
	z-index: 3;
	background: radial-gradient(
		ellipse,
		var(--flame-color-1),
		var(--flame-color-2),
		var(--flame-color-3)
	);

	animation: moving-flame 10s ease-in-out alternate infinite,
		glow-out 10s ease-in-out alternate infinite;
	-webkit-animation: moving-flame 10s ease-in-out alternate infinite,
		glow-out 10s ease-in-out alternate infinite;
}
.container .candle {
	--size: 90;
	background-color: var(--candle-color);
	height: calc(var(--size) * var(--unit));
	width: calc(var(--size) / 6 * var(--unit));
	border-radius: 100% / 10%;
	box-shadow: calc(6 * var(--unit)) calc(-4 * var(--unit)) 0 var(--candle-color);
	left: 50%;
	top: 28%;
	z-index: 2;
}
.container .cake {
	--size: 600;
	left: 50%;
	top: 30%;
	height: calc(var(--size) * var(--unit));
	width: calc(var(--size) * var(--unit));
}
.container .cake .chocolate_top_layer {
	top: 0;
	left: 50%;
	width: calc(var(--size) * var(--unit));
	height: 35%;
	background: var(--chocolate-color);
	border-radius: 50%;
	z-index: 3;
}
.container .cake .layer {
	--size: 600;
	top: 20%;
	left: 50%;
	width: calc(var(--size) * var(--unit));
	height: 35%;
	background: var(--cream-color);
	border-radius: 50%;
	box-shadow: 0px calc(65 * var(--unit)) 0px 0px var(--chocolate-color),
		0px calc(60 * var(--unit)) 0px 0px var(--chocolate-color),
		0px calc(55 * var(--unit)) 0px 0px var(--chocolate-color),
		0px calc(50 * var(--unit)) 0px 0px var(--chocolate-color),
		0px calc(38 * var(--unit)) 0px 0px var(--chocolate-color),
		0px calc(30 * var(--unit)) 0px 0px var(--chocolate-color),
		0px calc(22 * var(--unit)) 0px 0px var(--chocolate-color),
		0px calc(14 * var(--unit)) 0px 0px var(--chocolate-color);
}
.container .cake .layer_1 {
	top: 30%;
}
.container .cake .layer_2 {
	top: 15%;
}
.container .cake .layer_3 {
	top: 0;
}

@keyframes moving-flame {
	0%,
	20%,
	40%,
	60%,
	80%,
	100% {
		border-radius: 40% 90% 70% 70%/ 100% 100% 70% 70%;
		opacity: 1;
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		border-radius: 90% 40% 70% 70%/ 100% 100% 70% 70%;
		opacity: 0.8;
	}
}

@keyframes glow-out {
	0%,
	20%,
	100% {
		box-shadow: 0 0 calc(10 * var(--unit)) calc(1 * var(--unit))
			var(--flame-color-secondary);
	}
	40%,
	80% {
		box-shadow: 0 0 calc(20 * var(--unit)) calc(1 * var(--unit))
			var(--flame-color-secondary);
	}
	60% {
		box-shadow: 0 0 calc(30 * var(--unit)) calc(1 * var(--unit))
			var(--flame-color-secondary);
	}
}
